@font-face {
    font-family: "moreperfectdos";
    src: url("moreperfectdos.ttf");
}

/* Global Styles */
html, body {
    background-color: #000;
    color: #00FF00;
    font-family: monospace;
    margin: 0;
    padding: 0;
}


/* Button Styles */
.button {
    background-color: rgba(4, 104, 17, 0.308);
    color: #00FF00;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(4, 104, 17, 0.5);
}

/* Input Styles */
.input {
    background-color: rgba(4, 104, 17, 0.308);
    color: #00FF00;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 5px #00FF00;
}

/* Link Styles */
a {
    color: #00FF00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Panel Styles */
.panel {
    background-color: rgba(2, 49, 2, 0.589);
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3%;
    z-index: 999;
}


.username-link {
    margin-left: auto;
    margin-right: 10px;
}

.big-link {
    font-family: "moreperfectdos", monospace;
    font-size: 120%;
}

.panel-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    background-image: url("../termux.png");
    background-size: cover;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 25px;
}

.panel-link {
    margin-right: 10px;
    font-family: "moreperfectdos", monospace;
    font-size: 20px;
}

.panel-link-red {
    color: red;
    margin-right: 10px;
    font-family: "moreperfectdos", monospace;
    font-size: 20px;
}


.body-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file-box {
    background-color: rgba(4, 104, 17, 0.308);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-family: "moreperfectdos", monospace;
    font-size: 25px;
}

a {
    display: block;
    margin-bottom: 10px;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}
